@using SurveySystem.Web.Models.Survey
@using SurveySystem.Web.Util
@model SurveySystem.Web.Models.Survey.SurveySubmission

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Попълване на анкета";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">@ViewBag.Title</h2>

        @Html.ValidationSummary(true)
        @using (Html.BeginForm("Fill", "Survey", new { id = Model.SurveyId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            var freeTextQuestions = 0;
            var checkboxQuestions = 0;
            var radioButtonQuestions = 0;

            for (int i = 0; i < Model.QuestionTypes.Count; i++)
            {
                if (Model.QuestionTypes[i] == SurveyQuestionType.Text)
                {
                    var question = Model.GetFreeTextQuestion(i);

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.FreeTextQuestions[freeTextQuestions].Text, Html.FormatQuestion(i, question), new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.FreeTextQuestions[freeTextQuestions].Answer, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FreeTextQuestions[freeTextQuestions].Answer)
                            @{
                                freeTextQuestions++;
                            }
                        </div>
                    </div>
                }
                else
                {
                    if (Model.QuestionTypes[i] == SurveyQuestionType.Checkbox)
                    {
                        var question = Model.GetCheckBoxQuestion(i);
                        var answers = question.Answers;

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(x => x.CheckBoxQuestions[checkboxQuestions].Text, Html.FormatQuestion(i, question), new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @for (int j = 0; j < answers.Count; j++)
                                {
                                    <label>
                                        @Html.CheckBoxFor(x => x.CheckBoxQuestions[checkboxQuestions].Answered[j], answers[j])
                                        @answers[j]
                                    </label>
                                }
                                @{
                                    checkboxQuestions++;
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        var question = Model.GetRadioButtonQuestion(i);
                        var answers = question.AvailableAnswers;

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(x => x.RadioButtonQuestions[radioButtonQuestions].Text, Html.FormatQuestion(i, question), new { @class = "control-label" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                @for (int j = 0; j < answers.Count; j++)
                                {
                                    @Html.RadioButtonFor(x => x.RadioButtonQuestions[radioButtonQuestions].Answer, answers[j], Html.BuildRadioButtonAnswerAttributes(question, j))
                                    <span>@answers[j]</span>
                                }
                                @{
                                    radioButtonQuestions++;
                                }
                            </div>
                        </div>
                    }
                }
            }

            <div class="form-group">
                <div class="col-md-5">
                    <input type="submit" value="Запази" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>